
          <div class="col-lg-12">
            <ul class="timeline">
              <li class="{{content.field_timeline_side.0}}">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{{content.field_portfolio_image.0}}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{content.field_year.0}}</h4>
                    <h4 class="subheading">{{content.field_title.0}}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">{{content.field_description.0}}</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>